*.ini


gitkraken/.gitkraken/profiles/d6e5a8ca26e14325a4275fc33b17e16f/repoSettings/

gitkraken/.gitkraken/profiles/d6e5a8ca26e14325a4275fc33b17e16f/localRepoCache

gitkraken/.gitkraken/config

powertoys/settings-telemetry.json

rstudio/AppData/Local/RStudio/log/

rainmeter/AppData/Roaming/Rainmeter/Rainmeter.stats

rainmeter/AppData/Roaming/Rainmeter/Rainmeter.data

gitkraken/.gitkraken/profiles/d6e5a8ca26e14325a4275fc33b17e16f/profile

keep/.keep/update_check.txt
.Rproj.user
