*.ini


gitkraken/.gitkraken/profiles/d6e5a8ca26e14325a4275fc33b17e16f/repoSettings/

gitkraken/.gitkraken/profiles/d6e5a8ca26e14325a4275fc33b17e16f/localRepoCache

gitkraken/.gitkraken/config

powertoys/settings-telemetry.json

rstudio/AppData/Local/RStudio/log/

rainmeter/AppData/Roaming/Rainmeter/Rainmeter.stats

rainmeter/AppData/Roaming/Rainmeter/Rainmeter.data

gitkraken/.gitkraken/profiles/d6e5a8ca26e14325a4275fc33b17e16f/profile

keep/.keep/update_check.txt
.Rproj.user

rstudio/AppData/Local/RStudio/history_database

rstudio/AppData/Local/RStudio/monitored/lists/file_mru

rstudio/AppData/Local/RStudio/monitored/lists/help_history_links

rstudio/AppData/Local/RStudio/persistent-state

rstudio/AppData/Local/RStudio/projects_settings/last-project-path

rstudio/AppData/Local/RStudio/sources/prop/DA99C8A9

rstudio/AppData/Local/RStudio/sources/prop/INDEX

rstudio/AppData/Local/RStudio/sources/s-F208F76E/lock_file

rstudio/AppData/Local/RStudio/projects/217045b0/console07/

rstudio/AppData/Local/RStudio/projects/8f1d46f8/console07/
