AppData/Roaming/espanso/user/passwords.yml filter=git-crypt diff=git-crypt
AppData/Roaming/espanso/user/credit-cards.yml filter=git-crypt diff=git-crypt
AppData/Roaming/espanso/user/dev-secrets.yml filter=git-crypt diff=git-crypt
