
history_database
monitored/lists/file_mru
monitored/lists/help_history_links
persistent-state
project_settings/last-project-path
client_state/**
ctx/**
explorer-cache/**
log/**
monitored/**
pcs/**
profiles-cache/**
QtWebEngine/**
sessions/**
sources/**
viewer-history/**
viewer-cache/**
